.containerShow {
    display: flex;
    justify-content: space-between;
    /* justify-content: center;  */
    flex-direction: row;
    /* text-align: center; */
    /* align-items: center; */
  }
  #heroListBox{
    color: white;
  }
  .mainContainer{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
    min-width: 890px;
  
  }
  .heroList {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 0 0 60%;
    flex-direction: column;
    gap: 30px;
  
 }


.nameHero{
    font-size:30px;
}
.heroCardFavorite{
    max-height:250px;
}
 .heroCard {
    list-style: none;
    position: relative;
    margin: 10px;
    text-align: center;
    width: 150px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  
  .heroCard:hover {
    transform: scale(1.2); 
  }
  
  .heroCard img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: opacity 0.3s ease;
  }
  
  .heroCard p {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    display: none; 
  }
  .heroCard p:first-of-type {
    bottom: 10px;
  }
  .heroCard p:nth-of-type(2) {
    bottom: 40px;  
  }
  .heroCard p:nth-of-type(3) { 
    position: absolute;
    bottom: 100px; 
    left: 0; 
  }
  .heroCard p:nth-of-type(4) {
    border-radius: 5px;
    color: black;
    position: absolute;
    bottom: 0px;
    left: 50%;
    display:block;
    background-color: rgb(42, 158, 58);
   
  }
  .heroCard:hover p{
    display:block;
  }
  
  #prevPage{
    color:white;
    width: 150px;
    height: 50px;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #B22222;
    border-radius: 5px;
    cursor: pointer;
  }
  .tab{
    cursor:pointer;
    width:50px;
    height : 50px;
  }
  .tab.hover{
    opacity:1.0;
  }
  .tabdark{
    filter:brightness(0.7);
    width:60px;
    height: 60px;

  }
  .typeImg{
    width:20px;
    height:20px;
  }
  body {
    background-image: url("https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
    background-size: cover; 
  }
  #loginButton{
    margin-top :5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  }
  .option{
    border-top:1px solid #333;
  }

  .favoriteButton{
    font-size:30px;
    background-color: rgba(200, 60, 60, 0.8);
    cursor: pointer;
  }
  .attackType{
    border-bottom: 1px solid white;
    padding-bottom:20px;
  }
  .role{
    border-bottom: 1px solid white;
    padding-bottom:20px;
  }