.attackType{
    border-bottom: 1px solid white;
    padding-bottom:20px;
  }
.role{
    border-bottom: 1px solid white;
    padding-bottom:20px;
  }
.insideFilterBox{
  font-size:20px;
  align-items: center;
  padding:20px;
  margin:20px;
  color:white;
}
#textFilter{
  font-size:35px;
  font-weight :bold;
}
#filterBox {
  background: linear-gradient(to bottom,rgb(70, 70, 70), rgb(120, 120, 120));
  border: 1px solid #333;
  width:400px;
  flex:0 0 20%;
  color:white;
}